// write your styles here

/* No CSS */
$red: #f72210;
$offwhite:#efefef;
$blue:#70a2f1;

.red {
  color: $red;
}

a {
  background-color: white;
  color: grey;
  text-decoration: none;

  &:visited {
    color: black;
  }

  &:hover {
    color: red;
  }
}

.relative {
  position: relative;

  .bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2px 5px;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 0;
  }
}

// general heading styling

header {
  background-color: $red;

  .login {
    font-weight: bold;
    font-size: 1.5rem;
  }

  img {
    background-color: $red;
    display: block;
    width: 132px;
    height: 20px;
  }

  .date {
    position: relative;
    top: 1rem;
  }

  .navbar-collapse {
    align-items: stretch;
    color: black;
    width: 40%;
    background-color: white;
    position: absolute;
    right: 0;
    top: 0;

    div:nth-child(2) ul a {
      color: grey;
    }

    .clip {
      clip-path: polygon(0 0, 98% 0, 100% 100%, 0% 100%);
      background-color: white;
      position: relative;
      bottom: 1.4rem;
      margin-right: 1rem;
    }

    .search {
      border-right: 0;
    }

    .search input {
      width: 7vw;
      margin-right: -1.4rem;
      border: 0;
    }

    div:nth-child(2) ul li:nth-child(1) a {
      color: black;
    }

    @media (min-width: 992px) {
      position: relative;
      width: 100%;
      margin: 0;

      div:nth-child ul li {
        margin: 1rem;
      }
    }
  }

  @media (min-width: 992px) {
    .navbar img {
      width: 396px;
      height: 60px;
    }

    .first-nav {
      li {
        font-weight: bold;
        border-right: 1px solid $offwhite;
        padding-right: 1rem;
        margin-top: 10px;
      }
    }

    #expandme div:nth-child(2) ul {
      position: relative;
      bottom: 1.45rem;
      margin-top: 1rem;
      border-top: 2px solid $offwhite;
      border-bottom: 2px solid $offwhite;
    }
  }
}

// footer styles
footer {
  img {
    width: 12rem;
  }

  .navlink:hover {
    color: $blue;
  }

  nav .nav-link {
    padding: 0 0.4rem;
    border-right: 1px solid grey;
    margin-top: 0.4rem;
  }

  .editions {
    border-top: 1px solid grey;
    margin-top: 1rem;
  }

  i {
    transform: scale(1.5);
    margin: 0 0.2rem;
  }

  @media (min-width: 768px) {
    img {
      width: 15rem;
    }
  }
}

main {

  h1 {}

  h2 {
    color: grey;
    font-size: 1rem;

    .block-title {
      font-family: "Roboto Condensed", sans-serif;
      font-size: 1rem;
      color: #03030369;
    }
  }

  h3 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.5rem;
    color: #000000;
  }

  p.summary {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    line-height: 1.2rem;
  }

  img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
  }

  .vs {
    background-color: black;
    width: 2rem;
    height: 1.8rem;
    color: white;
    text-align: center;
    top: 50%;
    position: absolute;
    left: 46%;
  }

  .more-stories-img {
    width: 100px;
    height: 100px;
    float: left;
    padding-right: 11px;
  }

  .debate img,
  .opinion img {
    width: 4rem;
  }

  section.debate {
    .debate-article-1 {
      margin-bottom: 2px;
    }
  }

  .sponsored-insights {
    padding: 2px 5px;
    background-color: rgba(255, 255, 255, 0.9);
    color: $blue;
    margin: 0;
  }

  @media (min-width: 768px) and (max-width: 992px) {
    .sponsor {
      max-width: 40%;
      margin: 0 auto;
    }
  }
}
